*{
  font-family: "BNazanin";


}
button{
	 background-color: #3399FF;
    color: white;
}

  @font-face {
  font-family: 'BNazanin';
  src: url('BNazanin.eot');
  src: url('BNazanin.eot?#iefix')format('embedded-opentype'),
   url('BNazanin.woff') format('woff'),
   url('BNazanin.ttf') format('truetype');

   font-weight: normal;
   font-style: normal;
}
